:root {
  --color-sync-0: #{$color-sync-0};
  --color-sync-1: #{$color-sync-1};
  --color-sync-2: #{$color-sync-2};
  --color-sync-3: #{$color-sync-3};
  --color-contrast-1: #{$color-contrast-1};
  --color-contrast-2: #{$color-contrast-2};
  --desktop-bg: url("../../assets/bg-desktop-light.jpg");
  --color-highlight: #{$color-highlight};
  --shadow-color: var(--color-sync-2);
  --app-body-col: var(--color-sync-0);
  --shadow-col: var(--color-sync-3);
}

[data-theme="dark"] {
  --color-sync-0: #{$color-sync-0-r};
  --color-sync-1: #{$color-sync-1-r};
  --color-sync-2: #{$color-sync-2-r};
  --color-sync-3: #{$color-sync-3-r};
  --color-contrast-1: #{$color-contrast-1-r};
  --color-contrast-2: #{$color-contrast-2-r};
  --desktop-bg: url("../../assets/bg-desktop-dark.jpg");
  --app-body-col: var(--color-sync-1);
  --shadow-col: hsl(230, 28%, 10%);
}

@include mq(phone) {
  :root {
    --phone-bg: url("../../assets/bg-mobile-light.jpg");
  }

  [data-theme="dark"] {
    --phone-bg: url("../../assets/bg-mobile-dark.jpg");
  }
}

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

body {
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;

  height: 100%;
  width: 100%;
}

body * {
  box-sizing: inherit;
}
