//light theme
$color-sync-0: hsl(0, 0%, 100%);
$color-sync-1: hsl(0, 0%, 98%);
$color-sync-2: hsl(236, 33%, 92%);
$color-sync-3: hsl(233, 11%, 84%);
$color-contrast-1: hsl(236, 9%, 61%);
$color-contrast-2: hsl(235, 19%, 35%);

$color-sync-0-r: hsl(235, 21%, 11%);
$color-sync-1-r:  hsl(235, 24%, 19%);
$color-sync-2-r: hsl(237, 14%, 26%);
$color-sync-3-r: hsl(233, 14%, 35%);
$color-sync-4-r: hsl(234, 11%, 52%);
$color-contrast-1-r: hsl(234, 39%, 85%);
$color-contrast-2-r: hsl(236, 33%, 92%);

$color-highlight: hsl(220, 98%, 61%);